.recherche{
-fx-background-radius : 20 ;
-fx-font-size : 14 pt;
-fx-opacity : 100;
}
.nav{
-fx-background-radius : 20;
}
.p{
-fx-background-radius : 20;
}
.per {
-fx-background-radius : 20 ;
}
.bor {
-fx-background-radius : 20 ;
}
.button {
-fx-background-radius : 20 ;
}